.mySwiper {
  width: 100%;
  height: 100%;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  width: 100%;
  height: 100%;
}
